---
layout: default
title: About
permalink: /about
custom_css:
- about/about
- about/globals
- about/styleguide
---
<input type="hidden" id="anPageName" name="page" value="desktop-1440-about"/>
<div class="container-center-horizontal">
    <div class="desktop-1440-about screen">
        <div class="team">
            <div class="overlap-group-5">
                <div class="debond-protocol-is-s body-text-big30pt">
                    Debond Protocol is supported by accomplished partners, committed as we are about building a fairer
                    and
                    more stable DeFi.
                </div>
                <div class="team-title-h1">About</div>
            </div>
            <div class="rectangle-29"></div>
        </div>
        <div class="investors">
            <div class="investors-title">Investors</div>
            <div class="investors-grid">
                {% for investor in site.investors %}
                {% include investorItem.html name=investor.name description=investor.description path=investor.path %}
                {% endfor %}
            </div>
        </div>

        <div class="press">
            <div class="press-title">Press</div>
            <div class="press-grid">
                {% for pressItem in site.press %}
                {% include pressItem.html path=pressItem.path %}
                {% endfor %}
            </div>

        </div>
    </div>
</div>

