---
layout: default
title: Airdrop
permalink: /airdrop
custom_css:
- team/style
- airdrop/airdrop
---
<div class="page">
    <div class="page-title">
        <p class="title-header">Ground/Breaking <br>Airdrop 2022
        </p>
        <span class="title-text">Official Date (30 May 12:00 – Paris time)</span>
    </div>

    <div class="fit-screen-top">
        <a class="e-widget no-button generic-loader" href="https://gleam.io/88rw6/groundbreaking-airdrop-by-dbond" rel="nofollow">Ground/Breaking Airdrop by D/Bond</a>
        <script type="text/javascript" src="https://widget.gleamjs.io/e.js" async="true"></script>
    </div>

    <div class="centered fit-screen-top" style="display: block">
        {% include paragraph.html name="WE KNOW YOU’VE BEEN WAITING FOR THIS" description="It’s finally here. More than just an airdrop. It’s Ground/Breaking." %}
        {% include paragraph.html name="WHAT YOU GET" description="It’s nice to be appreciated. That’s what our community is all about. We reward your trust and loyalty. We are grateful that you are joining us. We strive to be the foundation you can rely on.

        <br><br>For long-time community members who participated in our earlier airdrop: you are already on our list. You finally get what you were promised. No backsies. You rock.

        <br><br>For those who are finding out about and joining D/Bond just now: for completing a handful of simple social media tasks, you get 35 DBit tokens. You can also earn bonus DBits by completing more extra tasks." %}
        {% include paragraph.html name="WAIT, WHAT’S A DBIT? " description="It stands for Decentralised Bond Index Token. Its value is solidly pegged to D/Bond’s multi-layer pool, starting at $1 per token. DBit is the settlement currency of D/Bond, to be used for trading D/Bonds and earning interest on your investment. A fuel of our economic system — monolithic, yet flexible.

        <br><br>As a standard ERC–20 token, it is tradeable for other coins. It will soon be listed on major exchanges.

        <br><br>But more importantly, it gives you the opportunity to be among the pioneering ones to use D/Bond. Be the first to break hard ground with us. Let’s take Decentralised Finance to the next level together.
        " %}
        {% include paragraph.html name="AND I ONLY NEED TO COMPLETE A FEW QUICK TASKS?" description="Yep. That’s our airdrop. It’s our way of saying thank you for bearing with us.

        <br><br>But Ground/Breaking is about more than just an airdrop. Collect our unique NFTs to get privileged access to our platform as soon as it launches.
        <br><br> WHEN? Soon. Sooner than you think.
        " %}

    </div>
</div>
