---
layout: default
title: Community
permalink: /community
custom_css:
- sidebyside
- community/community
---
<div class="page">
    <div class="page-title">
        <p class="title-header">Community</p>
        <span class="title-text">Join a community that believes in a fairer, more transparent, and more secure decentralised finance</span>
    </div>

    <div class="fit-screen-top">

        <div class="table-container">
            <div class="container">
                <div class="row debond-table medias">
                    {% for media in site.data.medias %}
                    {% include mediaItem.html name=media.name description=media.description path=media.path
                    link=media.link
                    %}
                    {% endfor %}
                </div>
                <div class="centered">
                    <a class="button" href="mailto: {{site.mail}}">Contact us</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="centered debondh2"> Our latest posts</div>
        <div class="container">
            <div class="row debond-table medias post">
                {% for post in site.data.mediumPosts.items limit:3 %}
                {% include mediumPost.html name=post.title link=post.link
                path="assets/images/community/medias/medium.png"
                %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="sidebyside fit-screen">
        <div id="governance-img-div">
            <img src="assets/images/governance/governance.png"/>
        </div>
        <div id="governance-text-div">
            <div class="sbs-header">GOVERNANCE:<br/> contribute to the project</div>
            <div class="sbs-text">
                {{site.title-styled}} is above all a community whose aim is to bring real change to DeFi. We have
                developed the
                ERC–3475 standard to achieve this — making investments safer and more stable.
                <br/><br/>
                Unlike other DeFi projects like SnapShot, we do not only poll our community. {{site.title-styled}}
                makes
                transparent,
                community-led, decentralised governance possible on our comprehensive platform. Smart contracts and
                DBGTs ({{site.title-styled}} Governance Tokens) are used to vote democratically on proposals,
                revisions,
                updates,
                withdrawals, and executions about {{site.title-styled}} and its funds on the chain.
            </div>
            <div class="left">
                <a class="button" href="{{site.cm_discord}}">JOIN CM GROUP</a>
            </div>
        </div>
    </div>

    <div class="">
        <div class="centered">
            <img src="assets/images/governance/governance2.png">
        </div>

        <div id="participate" class="centered">
        <span>Participate in {{site.title-styled}}’s development, let’s create the next-level-DeFi standard together!
        </span>
        </div>

        <div class="centered">
            <a class="button" href={{site.webapp_link}}> Launch our app</a>
        </div>
    </div>
</div>
