---
layout: default
title: NFTs
permalink: /nft
custom_css:
- nft/nft
- sidebyside
- carousel
---

<div class="page">

    <div class="page-title" style="margin-bottom: 20vh">
        <p class="title-header">NFTs</p>
        <span class="title-text">Debond’s new ERC/3475 standard brings more security and stability to decentralised finance (DeFi)</span>
        <div class="container" style="margin-top: 10vh ">
            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% assign psize = site.data.nfts | size %}
                    {% for i in (0..psize) %}
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to={{ i }}></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner" role="listbox">
                    {% for nft in site.data.nfts %}
                    {% include carouselItem.html path=nft.path %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button"
                   data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button"
                   data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>

            </div>
        </div>
    </div>


    <div class="sidebyside fit-screen">
        <div>
            <div class="sbs-header">Ground Breaking
                <div class="sbs-text">
                    D/BOND is above all a community whose aim is to bring real change to DeFi. We have developed the
                    ERC/3475 standard to achieve this — making investments safer and more stable.
                    <br><br>
                    Unlike other DeFi projects like SnapShot, we do not only poll our community. D/BOND makes
                    transparent, community-led, decentralised governance possible on our comprehensive platform.
                </div>
            </div>
        </div>
        <div>
            <img id="nft1" src="assets/images/nft/1.png"/>
        </div>

    </div>

    <div class="sidebyside fit-screen">
        <div>
            <img id="nft2" src="assets/images/nft/2.png"/>
        </div>
        <div>
            <div class="sbs-header">A curious object from outer space
                <div class="sbs-text">
                    D/BOND is above all a community whose aim is to bring real change to DeFi. We have developed the
                    ERC/3475 standard to achive this — making investments safer and more stable.
                    <br><br>
                    Unlike other DeFi projects like SnapShot, we do not only poll our community. D/BOND makes
                    transparent, community-led, decentralised governance possible on our comprehensive platform.
                </div>
            </div>
        </div>
    </div>

</div>
