---
layout: default
title: Technology
permalink: /technology
custom_css:
- technology/technology
- sidebyside
---

<div class="page">
    <div class="page-title">
        <p>Technology</p>
        <span>Debond’s new ERC–3475 standard brings more  security and stability to decentralised finance (DeFi)</span>
    </div>
    <div class="centered">
        <button class="button">White Paper</button>
    </div>


    <div class="table-container">
        <div class="debond-table technology">
            {% for tech in site.data.technology %}
            {% include technoItem.html name=tech.title description=tech.description top=tech.number %}
            {% endfor %}
        </div>
    </div>

    <div class="eip-container">
        <img id="round-left" src="assets/images/eip/round-left.png"/>
        <img id="round-right" src="assets/images/eip/round-right.png"/>
    </div>


        <div class="eip-text">

            <div class="eip-header">EIP–3475</div>
            <div class="eip-description">EIP–3475 is a new standard interface for contract that manages multiple
                callable
                bonds. This standard provides independent functions to read, transfer any collection of bonds, and
                for
                the issuer to redeem their bonds.

                This token standard can replace the current ERC–20 LP token.
            </div>
            <button class="button">Download the documentation</button>
        </div>

    <div class="sidebyside">
        <div>
            <div class="sbs-header">Introducing <br> Debond</div>
            <div class="sbs-text">
                DeFi markets are extremely volatile today. In TradFi, bonds bring more stability to the system thanks to
                their predictable yields.
                <br><br>
                We have created the ERC–3475 standard to make investments safer and more stable in DeFi.
                <button class="button">Launch our webapp</button>
            </div>
        </div>
        <div>
            <img src="assets/images/eip/introducing.png"/>
        </div>
    </div>

    <div class="table-container">
        <div class="table-title">How it works</div>
        <div class="debond-table works">
            {% for work in site.data.works %}
            {% include mediaItem.html name=work.name description=work.description path=work.path %}
            {% endfor %}
        </div>
    </div>
    <div class="centered debondh2 vertical-spaced">
        Need financing without losing capital? <br>
        Become a Debond issuer
    </div>

    <div class="centered">
        <button class="button" href="/#"> Launch our app</button>
    </div>
</div>
