---
layout: default
title: Technology
permalink: /technology
custom_css:
- sidebyside
- technology/technology
---

<div class="page">
    <div class="page-title">
        <p class="title-header">Technology</p>
        <span class="title-text">{{site.title-styled}}’s new ERC–3475 standard brings more security and stability to decentralised finance (DeFi)</span>
        <div class="centered">
            <a class="button" href="mailto: {{site.mail}}">Contact us</a>
        </div>
    </div>


    <div class="table-container technology fit-screen-top">
        <div class="debond-table">
            {% for tech in site.data.technology %}
            {% include technoItem.html name=tech.title description=tech.description top=tech.number %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="container-fluid  fit-screen">
    <img id="round-left" src="assets/images/eip/round-left.png"/>
    <img id="round-right" src="assets/images/eip/round-right.png"/>
    <div class="page eip-page">
        <div class="eip">
            <div class="eip-text">

                <div class="eip-header">EIP–3475</div>
                <div class="eip-description">EIP–3475 is a new standard interface for contract that manages multiple
                    callable
                    bonds. This standard provides independent functions to read, transfer any collection of bonds, and
                    for
                    the issuer to redeem their bonds.

                    This token standard can replace the current ERC–20 LP token.
                </div>
                <a class="button" href={{site.documentation}}>Download the documentation</a>
            </div>
        </div>
    </div>
</div>
<div class="page second-page">
    <div class="fit-screen-top">
        <div class="sidebyside">
            <div>
                <img id="introducing" src="assets/images/eip/introducing.png"/>
            </div>
            <div>
                <div class="sbs-header">Introducing {{site.title-styled}}</div>
                <div class="sbs-text">
                    In the Making of a Decentralised Future, {{site.title-styled}} empowers you to
                    create your own on-chain financial product. A single platform for
                    your financial needs. No programming needed, you can design and
                    issue bonds with the backing of Bitcoin, USDC, ETH, NFTs, etc..
                    <div class="centered">
                        <a class="button" href={{site.webapp_link}}>Launch our webapp</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="fit-screen">
        <div class="table-container works-container">
            <div class="table-title">How it works</div>
            <div class="debond-table works">
                {% for work in site.data.works %}
                {% include mediaItem.html name=work.name description=work.description path=work.path %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid  fit-screen">
    <img id="ledger" src="assets/images/technology/ledger.png"/>
    <div class="page eip-page">
        <div class="eip">
            <div class="eip-text ledger-text">
                <div class="eip-header">Ledger</div>
                <div class="eip-description">
                    We provide integration with ledger for more secure experience.
                </div>
                <div class="centered">
                    <a class="button" href={{site.webapp_link}}>Launch our webapp</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
<div class="centered debondh2 fit-screen-bottom" style="display: block">
    Overlook of the next-generation DeFi solution
    <div class="centered">
        <a class="button" href={{site.webapp_link}}> Launch our app</a>
    </div>
</div>
</div>
