.item-header img{
    max-height: 178px;
    max-width: 304px;
}

.press .debond-table .item{
    height:216px;
    width: 385px;
    margin:20px;
}

.press .debond-table .item img{
    max-height: 140px;
}

