:root { 
  --black: #000000;
  --debond-black: #121212;
  --debond-white: #ffffff;
 
  --font-size-16px: 16px;
  --font-size-32px: 32px;
  --font-size-l: 29.3px;
  --font-size-l2: 30px;
  --font-size-m: 20px;
  --font-size-s: 18.3px;
  --font-size-xl2: 24px;
  --font-size-xs: 15px;
  --font-size-xxs: 12px;
 
  --font-family-inter: "Inter", Helvetica;
}
.h3heading32pt {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-32px);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.body-text-big30pt {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.body-text-medium20pt {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.menu-entries24pt {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl2);
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.42px;
}

.body-text-small--16pt--bold {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-16px);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.caption-text12pt {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.inter-bold-white-29-3px {
  color: var(--debond-white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.inter-medium-white-18-3px {
  color: var(--debond-white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.inter-bold-white-15px {
  color: var(--debond-white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-white-59-4px {
  color: var(--debond-white);
  font-family: var(--font-family-inter);
  font-size: 59.4px;
  font-style: normal;
  font-weight: 700;
}

.inter-semi-bold-white-23-4px {
  color: var(--debond-white);
  font-family: var(--font-family-inter);
  font-size: 23.4px;
  font-style: normal;
  font-weight: 600;
}

.inter-bold-white-19-1px {
  color: var(--debond-white);
  font-family: var(--font-family-inter);
  font-size: 19.1px;
  font-style: normal;
  font-weight: 700;
}
