.e-widget-wrapper {
    width: 90vw;
}


.debondh5 {
    /* 🖥menu entries•24pt */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    /* or 112% */
    text-align: center;
    letter-spacing: -0.41759px;

    /* Debond White */
    color: #FFFFFF;
}

.paragraph{
    max-width: 60%;
}