.page-title .item-box .first-title-box {
    width: 100%;
}

.first-title-box {
    align-self: center;
    display: flex;
    padding-top: 0px;
}


.first-title-box p, .first-title-box span {
    width: 100%;
}

.first-title-box span {
    padding-top: 37px;
    display: block;
}

.flex-column {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.page-title {
    margin-top: 0vh;
    text-align: left;
}

.item-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


@media only screen and (max-width: 375px) {

    .page-title .item-box {
        margin-top: 20vh;
    }

    .advertising-item-box-first {
        margin-top: 20vh;
    }

    .first-title-box {
        width: 100%;
    }
}


@media only screen and (min-width: 375px) and (max-width: 724px) {

    .page-title .item-box {
        margin-top: 30vh;
    }

    @media only screen and (min-width: 375px) and (max-width: 560px) {
        .first-title-box {
            width: 100%;
        }
    }
    @media only screen and (min-width: 560px) and (max-width: 724px) {
        .first-title-box {
            width: 60%;
        }
    }

    .advertising-item-box-first {
        margin-top: 20vh;
    }

    .flex-column {
        justify-content: center;
    }

}


@media only screen and (min-width: 725px) and (max-width: 1340px) {

    .page-title .item-box {
        margin-top: 20vh;
    }

    .flex-column {
        justify-content: center;
    }

    .first-title-box {
        width: 380px;
    }


    .first-title-box p, .first-title-box span {
        width: 100%;
    }


    .advertising_box p {
        font-weight: 800;
        font-size: 36px;
        line-height: 37px;
        /*width: 423px;*/
    }

    .advertising-item-box-first {
        margin-top: 10vh;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1340px) {

    .page {
        max-width: 1340px;
        width: 100%;
        margin: 119px auto 58px auto;
    }

    .page-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        /*padding-bottom: 250px;*/
    }

    .page-title .title-header {
        font-weight: 800;
        font-size: 120px;
        line-height: 134.09%;
    }

    .page-title span {
        display: block;
        width: 1015px;
        font-size: 30px;
        line-height: 134%;
    }

    .page-title span br {
        display: none;
    }

    .page-title .item-box {
        margin-top: 10vh;
    }

    .page-title .item-box .first-title-box {
        width: 720px;
    }

    .advertising-item-box-first {
        margin-top: 10vh;
    }

    .advertising-item-box-first .first-title-box {
        width: 720px;
    }

    .advertising_box p {
        font-size: 45px;
        line-height: 45px;
        /*width: 720px;*/
    }


}

@media only screen and (min-width: 1340px) {

    .page-title .item-box {
        margin-top: 10vh;
    }

    .page-title .item-box .first-title-box {
        width: 720px;
    }

    .advertising-item-box-first {
        margin-top: 10vh;
    }

    .advertising-item-box-first .first-title-box {
        width: 720px;
    }

    .advertising_box p {
        font-size: 60px;
        line-height: 60px;
        /*width: 720px;*/
    }

    .advertising-item-box-second .first-title-box span {
        /*width: 530px;*/
        padding-top: 37px;
    }
}