.first-title-box {
    align-self: center;
    display: flex;
    padding-top: 0px;

}


.page-title {
    margin-top: 0vh;
    text-align: left;
}


@media only screen and (max-width: 375px){
    .advertising-item-box-first {
        margin-top: 20vh;
    }
}

@media only screen and (min-width: 375px) and (max-width: 724px) {
    .advertising-item-box-first {
        margin-top: 20vh;
    }
}


@media only screen and (min-width: 725px) and (max-width: 1340px) {
    .advertising-item-box-first .first-title-box {
        width: 423px;
    }

    .advertising-item-box-third .first-title-box {
        width: 290px;
    }

    .advertising-item-box-third .first-title-box p, .advertising-item-box-third .first-title-box span {
        width: 100%;
    }


    .advertising-item-box-fourth .first-title-box {
        width: 313px;
    }

    .advertising-item-box-fourth .first-title-box p, .advertising-item-box-fourth .first-title-box span {
        width: 100%;
    }

    .advertising-item-box-fifth .first-title-box {
        width: 316px;
    }

    .advertising-item-box-fifth .first-title-box p, .advertising-item-box-fifth .first-title-box span {
        width: 100%;
    }

    .advertising-box p {
        font-weight: 800;
        font-size: 36px;
        line-height: 37px;
        width: 423px;
    }

    .advertising-item-box-first {
        margin-top: 10vh;
    }

}

@media only screen and (min-width: 1340px) {
    .advertising-item-box-first {
        margin-top: 10vh;
    }

    .advertising-item-box-first .first-title-box {
        width: 720px;
    }

    .advertising-box p {
        font-size: 60px;
        line-height: 60px;
        width: 720px;
    }

    .advertising-item-box-second .first-title-box span {
        width: 530px;
        padding-top: 37px;
    }
}