<div class="menu-home">
    <div class="menu-container">
        <a href="/"><img id="dlogo" src="assets/images/logo.png" /></a>
        <div class="menu-links-container">
            {% for item in site.navigation %}
            <a href="{{ item.url }}" >
                {{ item.title }}
                {% if page.url contains item.url %}
                <div class="dot"><div></div></div>
                {% endif %}
            </a>
            {% endfor %}
            <span><a type="button" href={{site.webapp_link}} class="btn menu-button">USE APP</a></span>
        </div>
        <div class="menu-burger">
            <img src="assets/images/burger.svg" id="burger" onclick="openMenu()"/>
        </div>
    </div>
</div>