:root { 
  --black: #000000;
  --debond-black: #121212;
  --debond-blue: #403af4;
  --debond-grey: #dfdfdf;
  --debond-white: #ffffff;
  --quick-silver: #a2a6aa;
 
  --font-size-16px: 16px;
  --font-size-32px: 32px;
  --font-size-l: 30px;
  --font-size-m: 20px;
  --font-size-s2: 18px;
  --font-size-xl2: 24px;
  --font-size-xs2: 14px;
  --font-size-xxl: 60px;
  --font-size-xxs: 13px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-ubuntu: "Ubuntu", Helvetica;
}
.h2heading60pt {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0;
}

.h3heading32pt {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-32px);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.body-text-big30pt {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.body-text-medium20pt {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.button-text18pt {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s2);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.menu-entries24pt {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl2);
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.42px;
}

.body-text-small--16pt--bold {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-16px);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.inter-light-bon-jour-14px {
  color: var(--debond-grey);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs2);
  font-style: normal;
  font-weight: 300;
}

.inter-bold-bon-jour-15px {
  color: var(--debond-grey);
  font-family: var(--font-family-inter);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}

.inter-light-bon-jour-13px {
  color: var(--debond-grey);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 300;
}

.inter-normal-white-20px {
  color: var(--debond-white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-bon-jour-59-4px {
  color: var(--debond-grey);
  font-family: var(--font-family-inter);
  font-size: 59.4px;
  font-style: normal;
  font-weight: 700;
}

.inter-bold-bon-jour-23-4px {
  color: var(--debond-grey);
  font-family: var(--font-family-inter);
  font-size: 23.4px;
  font-style: normal;
  font-weight: 700;
}

.inter-bold-bon-jour-19-1px {
  color: var(--debond-grey);
  font-family: var(--font-family-inter);
  font-size: 19.1px;
  font-style: normal;
  font-weight: 700;
}

.inter-normal-white-14px {
  color: var(--debond-white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs2);
  font-style: normal;
  font-weight: 400;
}

.ubuntu-normal-quick-silver-11px {
  color: var(--quick-silver);
  font-family: var(--font-family-ubuntu);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}
