.sidebyside{
    margin-top: 800px;
}
.debond-table .item {
    width: 280px;
}

.debond-table .item  {
    text-align: left;
}
.item .item-top {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: left;
}

.technology .item p {
    text-align: left;
}

#round-left {
    position: absolute;
    width: 391px;
    height: 177.88px;
    right: -40%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: 0;

}

#round-right {
    position: absolute;
    width: 375px;
    height: 241px;
    bottom: 0px;
    right: 0px;
    z-index: 10;
}

.eip-container {
    background: #403AF4;
    height: 630px;
    position: absolute;
    left: 0;
    right: 0;
    top: 1930px;
    overflow: hidden;
}

.eip-container div {
    z-index: 1;
}

.eip-text .button {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    padding: 20px 10px 20px 10px;
}


.eip-header {
    font-size: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 37px;
    /* or 103% */

    /* Debond White */
    color: #FFFFFF;

}

.eip-text {
    height: 505px;
    width: 314px;
    margin:200px 30px 0px 30px;
    z-index: 1;
}

.eip-description {
    /* 📱Body text small • 16pt */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */

    /* Debond White */
    color: #FFFFFF;
    margin-top:29px;
}

.introducing-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
    /* or 100% */

    /* Debond White */
    color: #FFFFFF;
}

.introducing-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 30px;
    width: 504px;
    margin-bottom: 50px;
}

.introducing-text {
    width: 606px;
    height: 329px;
    right: 14px;
    top: 25px;
    position: absolute;
    vertical-align: middle;
}

.introducing {
    position: relative;
    left: 0;
    right: 0;
    height: 536px;
    width: 100%;
    margin-top: 200px;
}

.introducing img {
    position: absolute;
    width: 440px;
    left: 116px;
    top: 22px;
}

.debond-table .item .item-header {
    background: transparent;
    height: 300px;
}


.debond-table .item .item-header img {
    max-width: 227px;
    max-height: 308px;
}

.table-container {
    margin-top: 200px;
}

.table-title {
    margin-bottom: 45px;
}

.debond-table .item span {
    /* 🖥Body text Small•16pt */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.debond-table .item p {
    font-weight: 800;
    font-size: 36px;
    line-height: 37px;
}

@media only screen and (min-width: 725px) and (max-width: 1140px) {
    #round-right {

    }

    #round-left {

    }
}

@media only screen and (min-width: 376px) and (max-width: 550px) {
    .introducing img {
        width: 183.94px;
        height: 195.65px;
    }
}

@media only screen and (min-width: 1340px) {
    .eip-description {
        font-size: 20px;
        line-height: 31px;
    }

    .eip-header {
        font-size: 58.7446px;
        line-height: 71px;
    }

    #round-right {
        width: 976px;
        height: 596px;
    }

    .eip-text {
        position: absolute;
        height: 505px;
        width: 40%;
        top: 122px;
        left: 124px;
        z-index: 1;
    }


    #round-left {
        position: absolute;
        width: 391px;
        height: 177.88px;
        /*left: 601px;*/
        top: 2px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: 0;

    }

    #round-right {
        position: absolute;
        width: 482.37px;
        right: 0px;
        bottom: 0px;
        z-index: 0;
    }

}