.item .item-top {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: left;
}

.technology .item p {
    text-align: left;
}


.eip-container {
    background: #403AF4;
    height: 930px;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
}

.eip-container div {
    z-index: 1;
}

#round-left {
    position: absolute;
    width: 637.01px;
    height: 289.5px;
    left: 0px;
    top: 0px;
    z-index: 0;
}

#round-right {
    position: absolute;
    width: 976px;
    height: 596px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
}

.eip-container .button {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}


.eip-header {
    margin-top: 28px;
    margin-bottom: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 58.7446px;
    line-height: 71px;
    /* identical to box height */
    color: #FFFFFF;
}

.eip-text {
    position: absolute;
    height: 505px;
    width: 40%;
    top: 122px;
    left: 124px;
    z-index: 1;
}

.eip-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    /* or 157% */
    color: #FFFFFF;
    background-color: #403AF4;
}

.introducing-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
    /* or 100% */

    /* Debond White */
    color: #FFFFFF;
}

.introducing-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 30px;
    width: 504px;
    margin-bottom: 50px;
}

.introducing-text {
    width: 606px;
    height: 329px;
    right: 14px;
    top: 25px;
    position: absolute;
    vertical-align: middle;
}

.introducing {
    position: relative;
    left: 0;
    right: 0;
    height: 536px;
    width: 100%;
    margin-top: 200px;
}

.introducing img {
    position: absolute;
    width: 440px;
    left: 116px;
    top: 22px;
}

.debond-table .item .item-header{
    background: transparent;
    height: 300px;
}


.debond-table .item .item-header img{
    max-width: 227px;
    max-height: 308px;
}

.table-container{
    margin-top:200px;
}

.table-title{
    margin-bottom: 45px;
}


@media only screen and (min-width: 725px) and (max-width: 1140px) {
    #round-right{

    }
    #round-left{

    }
}