.medias .item .item-header img {
  width: 77.6px;
}
.medias .item .item-header{
  background-color: #1B1D29;
}
.medias .item {
  height:340px;
}

.centered img{
  width: 839.67px;
  height: 627px;
}

.centered span{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 55px;
  /* or 153% */
  text-align: center;

  /* Debond White */
  color: #FFFFFF;
  width: 824px;
}

.button{
  width: 357px;
  height: 60px;
}