.page {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #121212;
}

.page-title {
    width: 100%;
    text-align: center;
    /*margin-bottom: 40vh;*/
    display: flex;
    flex-direction: column;
    /*margin-top:20vh;*/
    /*align-items: center;*/
    height: 90vh;
}

.page-title2{
    margin-bottom: 30vh;

}
.page-title .title-header {
    margin-top: 10vh;
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 134%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 17.8712px 17.8712px rgba(0, 0, 0, 0.25);
}

.page-title span {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 10px;
    display: block;
}

.page-title {
    padding-bottom: 25px;
}


@media only screen and (max-width: 375px) {
    .page-title {
        height: 80vh;
    }
    .page-title .title-header {
        margin-top: 20vh;
    }

    .page {
        max-width: 375px;
        padding: 112px 20px 75px 20px;
    }

}


@media only screen and (min-width: 376px) and (max-width: 768px) {
    .page-title {
        height: 80vh;
    }
    .page-title .title-header {
        margin-top: 20vh;
    }

    .page {
        width: 100%;
       padding: 112px 30px 75px 30px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1340px) {
    .page {
        width: 100%;
        padding: 50px 48px 73px 48px;
    }

    .page-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        /*padding-bottom: 200px;*/

    }

    .page-title .title-header {
        margin-top: 25vh;
        font-weight: 800;
        font-size: 80px;
        line-height: 134%;
    }

    .page-title span {
        display: block;
        width: 559px;
    }

    .page-title span br {
        display: none;
    }
}

@media only screen and (min-width: 1340px) {
    .page {
        max-width: 1340px;
        width: 100%;
        margin: 119px auto 58px auto;
    }

    .page-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        /*padding-bottom: 250px;*/
    }

    .page-title .title-header {
        font-weight: 800;
        font-size: 120px;
        line-height: 134.09%;
    }

    .page-title span {
        display: block;
        width: 1015px;
        font-size: 30px;
        line-height: 134%;
    }

    .page-title span br {
        display: none;
    }


}

