.dot {
    position:relative;
}
.dot div{
    height: 14px;
    width: 14px;
    background-color: #403AF4;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top:10px;
    right: 0px;
    left:0px;
    margin-left: auto;
    margin-right: auto;
}


.left {
    justify-content: left;
    display: flex;
    margin: 20px 0px 20px 0px;
}

.debond-color-font {
    color: #403AF4 !important;
}

.debond-color-font-bold {
    color: #403AF4 !important;
    font-weight: bolder;
}

.debond-color-font-bold-white {
    color: white !important;
    font-weight: bolder;
}


.fit-screen {
    /*min-height: 100vh;*/
    margin-top: 20vh;
    margin-bottom: 20vh;
    width: 100%;
    /*display: flex;*/
    /*flex-direction:column;%/
    /*justify-content: center;*/
}

.fit-screen-top {
    margin-bottom: 10vh;
    width: 100%;
}

.fit-screen-bottom {
    margin-top: 10vh;
    display: block;
}

.flex-column-end {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.button {
    display: block;
    padding: 20px 30px 20px 30px;
    background: #403AF4;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.menu-button {
    margin-top: -10px;
    padding: 15px 50px 15px 50px;
    display: block;
    background: #403AF4;
    font-family: 'Inter'!important;
    font-style: normal!important;
    font-weight: 800!important;
    font-size: 18px!important;
    line-height: 20px!important;
    /* or 111% */
    text-align: center!important;
    letter-spacing: 0.025em!important;

    /* Debond White */
    color: #FFFFFF;

}

@media only screen and (max-width: 375px) {
    .button {
        /*padding: unset;*/
        min-width: 195px;
    }

    .fit-screen {
        /*min-height: 100vh;*/
        margin-top: 12vh;
        margin-bottom: 12vh;
    }


}


@media only screen and (min-width: 376px) and (max-width: 768px) {
    .button {
        min-width: 195px;
    }
    .fit-screen {
        /*min-height: 100vh;*/
        margin-top: 20vh;
        margin-bottom: 20vh;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1339px) {
    .button {
        min-width: 195px;
    }

}

@media only screen and (min-width: 1340px) {
    .button {
        min-width: 240px;
        font-weight: 700;
        font-size: 18px;
        line-height: 146.28%;
        /* or 26px */
        text-align: center;
        text-transform: uppercase;

    }

}