.sidebyside  div {
    text-align: center;
    width:100%
}

.sidebyside .sbs-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 60px;
    color: #FFFFFF;
}

.sidebyside .sbs-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

.sidebyside div img {
    width: 100%;
}

.sidebyside {
    display: inline-block;
    position: unset;
}



@media only screen and (min-width: 376px) and (max-width: 724px) {

}

@media only screen and (min-width: 725px) and (max-width: 1340px) {

    .sidebyside {
        display: flex;
        flex-direction: row;
    }
    .sidebyside div img {
        max-width: 100%;
    }

    .sidebyside .sbs-header {
        font-size: 36px;
        line-height: 37px;
    }

    .sidebyside .sbs-text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
}

@media only screen and (min-width: 1340px) {
    .sidebyside {
        display: flex;
        position: relative;
    }
    .sidebyside .sbs-header {
        font-size: 60px;
    }
    .sidebyside .sbs-text {
        font-size: 20px;
    }
    .sidebyside > div {
        margin-left: 0px;
    }
}