.table-container {

}

.table-container .table-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 37px;
    /* or 103% */
    text-align: center;
    color: #FFFFFF;
}

.debond-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.debond-table .item {
    width: 381px;
    height: 438px;
    margin: 20px;
    text-align: center;
}

.debond-table .item .item-header {
    background: #FFFFFF;
    width: 100%;
    height: 216.25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.debond-table .item .item-header img{
    max-height: 140px;
}

.debond-table .item p{
    margin-top:29.32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 29.3222px;
    text-align: center;
    color: #FFFFFF;
    height: 40px;
}

.debond-table .item span{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18.3264px;
    line-height: 146%;
    /* or 27px */
    text-align: center;
    height: 122.79px;
    /* Debond White */
    color: #FFFFFF;
    box-sizing: content-box;
}



