.table-container {

}

.table-container .table-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 37px;
    /* or 103% */
    text-align: center;
    color: #FFFFFF;
}

.debond-table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}


.debond-table .item {
    height: fit-content;
    margin: 10px auto 10px auto;
    text-align: center;
}

.debond-table .item .item-header {
    background: #FFFFFF;
    width: 100%;
    height: 134px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.debond-table .item .item-header img {
    max-height: 76px;
    max-width: 85%;
}

.debond-table .item p {
    margin-top: 29.32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    height: fit-content;
}

.debond-table .item span {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 146%;
    /* or 27px */
    text-align: center;
    height: 122.79px;
    /* Debond White */
    color: #FFFFFF;
    box-sizing: content-box;
}

@media only screen and (min-width: 350px) and (max-width: 767px) {

    .debond-table {
        width: 100%;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        /*justify-content: space-between;*/
        margin:0px;
        padding-top: 15px;
    }

    .debond-table .item {
        width: 280px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1340px) {
    .table-container{
        width: 95%;
    }
    .debond-table .item {
        /*width: 207px;*/
    }

    .debond-table .item .item-header {
        height: 111px;
    }

    .debond-table .item .item-header img {
        max-height: 68px;
    }

}

@media only screen and (min-width: 1340px) {

    .table-container .table-title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 60px;
        line-height: 60px;
        /* or 103% */
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 15px;
    }

    .debond-table {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    .debond-table .item {
        /*width: 381px;*/
        height: 438px;
        /*margin: 20px;*/
        text-align: center;
    }

    .debond-table .item .item-header {
        background: #FFFFFF;
        width: 100%;
        height: 216.25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .debond-table .item .item-header img {
        max-height: 140px;
    }

    .debond-table .item p {
        margin-top: 29.32px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 29.3222px;
        text-align: center;
        color: #FFFFFF;
        height: 40px;
    }

    .debond-table .item span {
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18.3264px;
        line-height: 146%;
        /* or 27px */
        text-align: center;
        height: 122.79px;
        /* Debond White */
        color: #FFFFFF;
        box-sizing: content-box;
    }

    img {
        max-width: 100%;
    }

}


@media only screen and (max-width: 375px) {

    .table-container {
        /*padding-top: 150px;*/
    }

    .debond-table {
        width: 100%;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 15px;
        justify-content: center;
    }

}

