*, ::after, ::before {
    box-sizing: unset;
}

#hide_1{
    display: none;
}

#hide_2{
    display: none;
}
#hide_3{
    display: none;
}
#hide_4{
    display: none;
}

#hide_5{
    display: none;
}

.team-page{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #121212;
}

.team-page-title{
    width: 100%;
    text-align: center;
}

.team-page-title p{
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 134%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 17.8712px 17.8712px rgba(0, 0, 0, 0.25);
}
.team-page-title span{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 10px;
    display: block;
}


.out-advisors-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.out-advisors-box .title {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 17.8712px 17.8712px rgba(0, 0, 0, 0.25);
}

.out-advisors-box .box{
    max-width: 320px;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 15px;
}


.out-advisors-box .item-advisors{
    width: 150px;
    height: 375px;
    padding-bottom: 50px;
}

.out-advisors-box .item-team{
    width: 150px;
    height: 505px;
    padding-bottom: 50px;
}



.out-advisors-box .item img{
    width: 150px;
    height: 189px;
}

.out-advisors-box .item p{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-top: 22px;
}
.out-advisors-box .item span{
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 146%;
    color: #FFFFFF;
    padding-top: 7px;
}

.see-more-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.out-advisors-box button{
    width: 195px;
    height: 45px;
    background: #403AF4;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    outline: none;
    border: none;
    cursor: pointer;
}

.join-us-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join-us-box .title-part{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join-us-box p{
    display: block;
    width: 255px;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
}

.join-us-box button{
    margin-top: 30px;
    width: 195px;
    height: 45px;
    border: none;
    outline: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #403AF4;
}

.join-us-box img{
    display: none;
}

.advertising-div{
    margin-top:200px;
}

.join-us-box .button{
    margin-top:20px;
}

@media only screen and (max-width: 375px) {

    .team-page{
        max-width: 375px;
        padding: 112px 20px 75px 20px;
    }

    .out-advisors-box{
        padding-top: 150px;
    }

    .out-advisors-box .box{
        width: 100%;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 15px;
        justify-content: center;
    }

    .out-advisors-box .box:nth-child(2n) .item{
        margin-left: 10px;
    }

    .out-advisors-box .item-advisors{
        width: 150px;
        height: 280px;
        /* margin-left: 24px; */
    }

    .out-advisors-box .item-team{
        width: 150px;
        height: 340px;
        /* margin-left: 24px; */
    }

    #hide_1{
        margin-top: 0px;
    }

    #hide_2{
        margin-top: 0px;

    }
    #hide_3{
        margin-top: 0px;
    }

}

@media only screen and (min-width: 376px) and (max-width: 550px) {
    .team-page{
        max-width: 560px;
        padding: 112px 20px 75px 20px;
    }

    .out-advisors-box{
        padding-top: 150px;
    }

    .out-advisors-box .box{
        width: 320px;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 15px;
    }

    .out-advisors-box .item-advisors{
        width: 150px;
        height: 280px;
        /* margin-left: 24px; */
    }

    .out-advisors-box .item-team{
        width: 150px;
        height: 320px;
        /* margin-left: 24px; */
    }

    #hide_1{
        margin-top: 0px;
    }

    #hide_2{
        margin-top: 0px;

    }
    #hide_3{
        margin-top: 0px;
    }
}

@media only screen and (min-width: 550px) and (max-width: 725px) {
    .team-page{
        max-width: 660px;
        padding: 112px 30px 75px 30px;
    }

    .team-page-title{
        /*padding-bottom: 100px;*/

    }

    .out-advisors-box{
        /*padding-top: 87px;*/
    }

    .out-advisors-box .box{
        max-width: 465px;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 15px;
    }

    .out-advisors-box .item-advisors{
        width: 208px;
        height: 355px;
        /* margin-left: 24px; */
    }

    .out-advisors-box .item-team{
        width: 208px;
        height: 425px;
        /* margin-left: 24px; */
    }

    #hide_1{
        margin-top: 0px;
    }

    #hide_2{
        margin-top: 0px;

    }
    #hide_3{
        margin-top: 0px;
    }

    .out-advisors-box .item p{
        font-size: 16px;
        line-height: 20px;
    }
    .out-advisors-box .item span{
        font-size: 12px;
        line-height: 146%;
        padding-top: 20px;
    }
    .out-advisors-box .item img{
        width: 208px;
        height: 272px;
    }

    .join-us-box p{
        width: 400px;
    }
}

@media only screen and (min-width: 725px) and (max-width: 1340px) {
    .team-page{
        max-width: 100%;
        padding: 50px 48px 73px 48px;
    }

    .out-advisors-box{
        /*padding-top: 120px;*/
    }
    .team-page-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        /*padding-bottom: 200px;*/

    }
    .team-page-title p{
        font-weight: 800;
        font-size: 80px;
        line-height: 134%;
    }
    .team-page-title span{
        display: block;
        width: 559px;
    }

    .team-page-title span br{
        display: none;
    }

    .out-advisors-box .box{
        min-width: 705px;
        max-width: 705px;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: unset;
        padding-top: 15px;
        margin-left: -24px;
    }

    .out-advisors-box .item-advisors{
        width: 208px;
        height: 355px;
        margin-left: 24px;
    }

    .out-advisors-box .item-team{
        width: 208px;
        height: 425px;
        margin-left: 24px;
    }

    #hide_1{
        margin-top: 20px;
    }

    #hide_2{
        margin-top: 20px;

    }
    #hide_3{
        margin-top: 20px;
    }

    .out-advisors-box .item p{
        font-size: 16px;
        line-height: 20px;

    }
    .out-advisors-box .item span{
        font-size: 12px;
        line-height: 146%;
        padding-top: 20px;
    }
    .out-advisors-box .item img{
        width: 208px;
        height: 272px;
    }

    .join-us-box{
        min-width: 705px;
        max-width: 705px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .join-us-box .title-part{
        width: 370px;
        padding-left: 15px;
    }
    .join-us-box .title-part p{
        width: 370px;
        text-align: left;
    }
    .join-us-box .title-part{
        align-items: flex-start;
    }
    .join-us-box img{
        display: block;
        width: 160px;
        height: 160px;
    }
}

@media only screen and (min-width: 1340px) {
    .team-page{
        max-width: 1440px;
        width: 100%;
        padding: 119px 121px 58px 117px;
    }

    .team-page-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        /*padding-bottom: 250px;*/
    }
    .team-page-title p{
        font-weight: 800;
        font-size: 120px;
        line-height: 134.09%;
    }
    .team-page-title span{
        display: block;
        width: 1015px;
        font-size: 30px;
        line-height: 134%;
    }

    .team-page-title span br{
        display: none;
    }
    .out-advisors-box {
        /*margin-top: 150px;*/
    }

    .out-advisors-box .title{
        font-weight: 800;
        font-size: 60px;
        line-height: 60px;
    }
    .out-advisors-box .box{
        width: 100%;
        max-width: 1230px;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: unset;
        padding-top: 47px;
        margin-left: 0px;
    }

    .out-advisors-box .item-advisors{
        width: 380px;
        height: 625px;
        margin-left: 26px;
    }

    .out-advisors-box .item-team{
        width: 380px;
        height: 725px;
        margin-left: 26px;
    }

    #hide_1{
        margin-top: 40px;
    }

    #hide_2{
        margin-top: 40px;

    }
    #hide_3{
        margin-top: 40px;
    }

    .out-advisors-box .item p{
        font-size: 30px;
        line-height: 134%;
    }
    .out-advisors-box .item span{
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        padding-top: 17px;
    }
    .out-advisors-box .item img{
        width: 380px;
        height: 480px;
    }

    .out-advisors-box button{
        width: 240px;
        height: 60px;
        font-size: 18px;
        line-height: 146.28%;
    }

    .join-us-box{
        width: 100%;
        max-width: 1230px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 100px;
    }

    .join-us-box .title-part{
        width: 597px;
        padding-left: 15px;
    }
    .join-us-box .title-part p{
        width: 597px;
        font-weight: 800;
        font-size: 60px;
        line-height: 60px;
        text-align: left;
    }
    .join-us-box .title-part{
        align-items: flex-start;
    }
    .join-us-box img{
        display: block;
        width: 299px;
        height: 300px;
    }

    .join-us-box button{
        width: 240px;
        height: 60px;
        font-size: 18px;
        line-height: 146.28%;
        margin-top: 47px;
    }
}