.dot div {
    background-color: black;
}
body {
    background-color: #403AF4 !important;
    background-image: url('../../images/nft/background3.jpeg');
    background-size: cover;
}

.menu-links-container >span > .btn{
    background-color: black;
}

.button {
    background: black;
}

.button:hover {
    color: lightblue;
}

.sidebyside div {
    text-align: left !important;
}

.footer {
    background: none;
}

.sidebyside > div {
    margin-bottom: 30px;
}

.container {
    padding-left: unset !important;
    padding-right: unset !important;
}

@media only screen and (min-width: 376px) and (max-width: 768px) {

}

.row {
    margin: auto;
}

.col div img {
    height: auto;
    max-width: 100%;
}

.col div {
    height: auto;
    width: 10vw;
}

.col {
    padding: 0px 0px 0px 1px!important;
    margin: 0px;
}

.debond-color-font {
    color: black !important;
}

.debond-color-font-bold {
    color: black !important;
    font-weight: bolder;
}


.page {
    background: none;
}

.carousel-title {
    height: 140vh;
}

.sidebyside div img {
    max-width: 537px;
    max-height: 779px;
}

.sbs-header {
    max-width: 80%;
}

.sbs-text {
    margin-top: 40px;
}

.sidebyside {
    width: 100%;
    align-items: center;
    justify-content: center;

}

.sidebyside div img {
    width: 80%;
}

.img-wrapper img {
    height: 40vh;
    width: auto;
}