.sidebyside div img{
    max-width: 537px;
    max-height: 779px;
}

.sbs-header{
    max-width: 80%;
}
.sbs-text{
    margin-top: 40px;
}
.sidebyside{
    width: 100%;
    align-items: center;
    justify-content: center;

}

.sidebyside div img {
    width: 80%;
}

.img-wrapper img{
    height:40vh;
    width: auto;
}